[package]
name = "suberra-core"
version = "0.2.1"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std = { version = "0.16.2" }
cosmwasm-bignumber = "2.2"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
schemars = "0.8.1"

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true